* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
}

header {
  height: 100px;
  width: 100vw; 
  background: #e31919;
  position: fixed;
  z-index: 10; 
  padding: 10px; 
    
}

nav {
    padding-right: 50px
}

.logo {
 display: flex;   
 float: left;
 padding-left: 4rem;  
}

nav a{
 display: inline;
 float: right;
 padding: 35px 20px;
 padding-right: 20px;
 color: white;
 text-decoration: none;
 font-weight: 700;   
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  /*font-size: 1.5rem;*/
}

.hero {
  background-image: url("assets/SGheroImg.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 5rem;
  /*border-bottom: 10px solid #E04728;*/
 
   
}

.hero h1 {
  display: flex;
  justify-content: center;
  padding-top: 39rem;
  color: white;
  font-size: 5rem;    
        
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.grid.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(240px, auto);
  margin: 50px 30px; 
}







